@use "./partials/variables" as *;
@use "./partials/hype_utility" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

// general
body {
    background: rgb(194, 196, 201);
    background: linear-gradient(
        216deg,
        rgba(194, 196, 201, 1) 0%,
        rgba(0, 0, 0, 1) 65%
    );
    color: $font-white;
    min-height: 150vh;
}

h2 {
    font-size: 4rem;
    background-image: url(/images/snake.png);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    color: $h2-color;
}

p {
    font-size: 1.5rem;
}

strong {
    color: $texture-color;
}

section {
    padding-top: 30px;
}

canvas {
    width: 100% !important;
}

// utilities

.bg-main-cards {
    background: linear-gradient(
        356deg,
        rgba(194, 196, 201, 1) 0%,
        rgba(0, 0, 0, 1) 67%
    );
}
.debug {
    border: 1px solid red;
}

header {
    height: 100px;
    background: rgb(194, 196, 201);
    background: $background-gradient;
    box-shadow: 2px 2px 5px $shadow-primary-color;
    display: flex;
    justify-content: center;

    .active-color {
        background-color: $h2-color !important;
    }

    .window-movement {
        transform: translate(0%, 10px) !important;
        transition: transform 0.5s;
        box-shadow: 2px 2px 2px $shadow-primary-color;
        background: linear-gradient(
            356deg,
            rgba(194, 196, 201, 1) 0%,
            rgba(0, 0, 0, 1) 67%
        );
    }

    .border-opened-menu {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #hype-custom-nav {
        height: 100px;
        position: fixed;
        top: 0;
        // left: 50%;
        z-index: 1000;
        //transform: translateX(-50%);
        transition: transform 0.3s ease-out;
        background-color: inherit;
        color: $text-primary-color !important;

        .active {
            color: $h2-color !important;
            font-weight: 700;
            font-size: 1.5rem;
        }

        .img-container {
            width: 300px;
            min-width: 90px;
        }

        .user-account {
            color: white;
            background-color: inherit;

            .icon-container {
                width: 40px;
                height: 67.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: calc((100px - 40px) / 2);
            }

            .bar-input {
                top: 100%;
                left: 0%;
                background-color: inherit;
                box-shadow: 2px 2px 2px $shadow-primary-color;
            }

            .search-bar-input {
                height: 70px;
            }

            #hype-nav-kebab-menu {
                font-size: 1rem;
                .active-kebab {
                    color: white !important;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                        -1px 1px 0 #000, 1px 1px 0 #000 !important;
                }
            }
        }

        button {
            &:hover {
                color: white;
            }
        }
    }
}

// jumbo elements
#main_title {
    position: relative;

    #header_video {
        width: 100%;
        height: 100%;
    }

    #header_svg {
        font-size: 7.8rem;
        font-weight: bold;
        text-transform: uppercase;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 90%;

        .rect-selector {
            fill: whitesmoke;
            opacity: 0.9;
            mask: url(#mask);
        }
    }
}

//table-clickable elements

.table-clickable {
    td {
        padding: 0 !important;
        a {
            padding: 15px !important;
            text-decoration: none;
            color: inherit !important;
            display: block;
            cursor: pointer;
            width: 100%;
        }
    }
}
//************************   All Journeys ** ******************************//

#all-journeys {
    .gradient-in {
        height: 100px;
        background: linear-gradient(to bottom, black 50%, transparent);
    }
}

//************************   SHOW DETAILS ** ******************************//

.show-details {
    h2 {
        position: relative;
        left: -150vw;
        transform: translateX(150vw);
        transition: transform 0.5s;
    }

    .journey-description {
        position: relative;
        left: +150vw;
        transform: translateX(-150vw);
        transition: transform 0.5s;
        transition-delay: 0.3s;
    }

    .journey-details,
    .planet:first-child,
    .journey-table table:first-child {
        position: relative;
        left: -150vw;
        transform: translateX(150vw);
        transition: transform 0.5s;
        transition-delay: 0.6s;
    }
    .planet:last-child,
    .journey-table table:last-child {
        position: relative;
        left: +150vw;
        transform: translateX(-150vw);
        transition: transform 0.5s;
        transition-delay: 0.6s;
    }
}

.bg {
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    ::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
    .layer {
        box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4,
            -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7,
            892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc,
            647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0,
            679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed,
            81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8,
            -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
            440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc,
            -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb,
            449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6,
            952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede,
            764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
            -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2,
            -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9,
            714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede,
            468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb,
            730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
            828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0,
            758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1,
            608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7,
            459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede,
            731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf,
            -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1,
            774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede,
            313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4,
            -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede,
            -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0,
            795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
            -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4,
            -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7,
            47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
            -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke,
            -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4,
            759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }
    .layer:nth-child(1) {
        animation: sf-fly-by-1 5s linear infinite;
    }
    .layer:nth-child(2) {
        animation: sf-fly-by-2 5s linear infinite;
    }
    .layer:nth-child(3) {
        animation: sf-fly-by-3 5s linear infinite;
    }
}

/************************ FOOOTER *****************************/

footer {
    background: $background-gradient;
    position: relative;
    background: linear-gradient(to top, black 75%, transparent);

    ul {
        margin: 0px;
        padding: 0px;
    }

    .footer-cta {
        border-bottom: 1px solid #373636;
        padding-top: 150px !important;
    }

    .single-cta i {
        color: $h2-color;
        font-size: 30px;
        float: left;
        margin-top: 8px;
    }

    .cta-text {
        padding-left: 15px;
        display: inline-block;
    }

    .cta-text h4 {
        color: $h2-color;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .cta-text span {
        color: $text-secondary-color;
        font-size: 15px;
    }

    .footer-content {
        position: relative;
        z-index: 2;
    }

    .footer-pattern img {
        position: absolute;
        top: 0;
        left: 0;
        height: 330px;
        background-size: cover;
        background-position: 100% 100%;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .footer-logo img {
        width: 300px;
        transform: translateX(-10%);
    }

    .footer-text p {
        margin-bottom: 14px;
        font-size: 14px;
        color: $text-tertiary-color;
        line-height: 28px;
    }

    .footer-social-icon span {
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        margin-bottom: 20px;
    }

    .footer-social-icon a {
        color: #fff;
        font-size: 16px;
        margin-right: 15px;
    }

    .footer-social-icon i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
    }

    .facebook-bg {
        background: #3b5998;
    }

    .twitter-bg {
        background: #55acee;
    }

    .google-bg {
        background: #dd4b39;
    }

    .footer-widget-heading h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
    }

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: $h2-color;
    }

    .footer-widget ul li {
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 12px;
    }

    .footer-widget ul li a:hover {
        color: $h2-color;
    }

    .footer-widget ul li a {
        color: $text-tertiary-color;
        text-decoration: none;
        text-transform: capitalize;
    }

    .subscribe-form {
        position: relative;
        overflow: hidden;
    }

    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #2e2e2e;
        border: 1px solid #2e2e2e;
        color: #fff;
    }

    .subscribe-form button {
        position: absolute;
        right: 0;
        background: WHITE;
        padding: 13px 20px;
        border: 1px solid $h2-color;
        top: 0;
    }

    .subscribe-form button i {
        color: $h2-color;
        font-size: 22px;
        transform: rotate(-6deg);
    }

    .copyright-area {
        background: #202020;
        padding: 25px 0;
    }

    .copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
    }

    .copyright-text p a {
        color: WHITE;
    }

    .footer-menu li {
        display: inline-block;
        margin-left: 20px;
    }

    .footer-menu li:hover a {
        color: WHITE;
    }

    .footer-menu li a {
        font-size: 14px;
        color: #878787;
    }
}
