@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

// general
body {
    background: rgb(194, 196, 201);
    background: linear-gradient(
        216deg,
        rgba(194, 196, 201, 1) 0%,
        rgba(0, 0, 0, 1) 65%
    );
    color: $font-white;
    min-height: 150vh;
}

h2 {
    font-size: 4rem;
    background-image: url(/images/snake.png);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    color: $h2-color;
}

p {
    font-size: 1.5rem;
}

strong {
    color: $texture-color;
}

section {
    padding-top: 30px;
}

// utilities
.debug {
    border: 1px solid red;
}

//header elements
// #navbar_header {
//     width: 100%;
//     height: 100px;
//     position: fixed;
//     top: 0;
//     z-index: 1000;
//     background: rgb(194, 196, 201);
//     background: linear-gradient(356deg, rgba(194, 196, 201, 1) 0%, rgba(0, 0, 0, 1) 67%);
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

//     #logo-header {
//         width: 300px;

//         img {
//             height: 100%;
//             width: 100%;
//             object-fit: cover;
//         }
//     }

//     a {
//         color: $font-white;
//     }

// }

/**
* Variables
$text-primary-color:
$background-secondary-color
$background-primary-color: 
$shadow-primary-color: 
*/

header {
    height: 100px;
    background: rgb(194, 196, 201);
    background: linear-gradient(
        356deg,
        rgba(194, 196, 201, 1) 0%,
        rgba(0, 0, 0, 1) 67%
    );
    box-shadow: 2px 2px 5px $shadow-primary-color;

    .active-color {
        background-color: $h2-color !important;
    }

    .active {
        color: $h2-color !important;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .window-movement {
        transform: translate(-50%, 10px) !important;
        transition: transform 0.5s;
        box-shadow: 2px 2px 2px $shadow-primary-color;
        background: linear-gradient(
            356deg,
            rgba(194, 196, 201, 1) 0%,
            rgba(0, 0, 0, 1) 67%
        );
    }

    .border-opened-menu {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #hype-custom-nav {
        height: 100px;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1000;
        transform: translateX(-50%);
        transition: transform 0.3s ease-out;
        background-color: inherit;
        color: $text-primary-color !important;

        .img-container {
            width: 300px;
            min-width: 90px;
        }

        .user-account {
            color: white;
            background-color: inherit;

            .icon-container {
                width: 40px;
                height: 67.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: calc((100px - 40px) / 2);
            }

            .bar-input {
                top: 100%;
                left: 0%;
                background-color: inherit;
                box-shadow: 2px 2px 2px $shadow-primary-color;
            }

            .search-bar-input {
                height: 70px;
            }
        }

        button {
            &:hover {
                color: white;
            }
        }
    }
}

// jumbo elements
#main_title {
    position: relative;
    margin-top: 80px;

    #header_video {
        width: 100%;
        height: 100%;
    }

    #header_svg {
        font-size: 7.8rem;
        font-weight: bold;
        text-transform: uppercase;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 90%;

        .rect-selector {
            fill: whitesmoke;
            opacity: 0.9;
            mask: url(#mask);
        }
    }
}
