$font-white: #ffffff;
$h2-color: #5492d4;
$texture-color: #b3a288;

$text-primary-color: black;
$text-secondary-color: white;
$text-tertiary-color: #56585d;
$shadow-primary-color: black;
$background-gradient: linear-gradient(
    356deg,
    rgba(194, 196, 201, 1) 0%,
    rgba(0, 0, 0, 1) 67%
);
